
.login-container-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-btn{
    background-color: #161d24;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    cursor: pointer;
    margin-top: 20px;
}
.submit-btn:hover{
    background-color: rgb(225, 216, 216);
    color: black;
}